.header {
  display: flex;
  width: 100%;
  background-color: #ffa500;
  padding: 0 15px;
  box-sizing: border-box;
  line-height: 88px;

  .avatar {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: pink;
  }

  &-link {
    padding: 0 15px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &-active {
      background-color: rgba(255, 255, 255, 0.18);
    }
  }
}
